/* your css code here */
body {
  background-color: #f8f8f8;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

h1 {
  text-align: center;
}

.book-library {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.book {
  text-align: center;
  margin-bottom: 30px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.img img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

p {
  color: #777777;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2ecc71;
  width: 100%;
  height: 40px;
  color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
}
